/*!****************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./app/projects/projects.module.css ***!
  \****************************************************************************************************************************************************************************************************************************************************************************/
@import url('https://fonts.googleapis.com/css2?family=Lateef:wght@200;300;400;500;600;700;800&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

.projects_container__IN86_ {
    position: absolute;
    margin: auto;
    top: 100px;
    background-color: rgba(32, 59, 76, 0.026);
    width: 70%;
    height: 80%;

}

.projects_bg__Qnr1g {
    /* background-image: url("../../../public/images/hassaan.jpg"); */
    position: absolute;
    width: 100%;
    height: 100%;
    /* top: 30%; */
    -o-object-fit: cover;
       object-fit: cover;
    background-position: center;
    background-size: 90vw;
    background-position-y: 200px;
    overflow: hidden;
}

.projects_content__zoHE_ {
    position: relative;
    margin: auto;
    top: 0.7em;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.331);

    border-radius: 25px;
    width: 55%;
    min-width: 940px;
    height: auto;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-height: -moz-max-content;
    max-height: max-content;
}

.projects_post__ODIM7 {
    font-family: "Lateef",serif;
    font-family: "Playfair Display", serif;
    font-family: "Lato",sans-serif;
    font-weight: 300;
    /* border: 1px solid rgba(255, 255, 255, 0.094); */
    margin-bottom: 15px;
    padding: 2em 2em 2em 2em;
    border-radius: 30px;
    border: 3px solid rgba(65, 65, 65, 0);
    border-top: 3px solid rgba(138, 138, 138, 0);
    border-bottom: 3px solid rgba(65, 65, 65, 0.312);
    display: flex;
    flex-direction: row;
    -moz-column-gap: 3em;
         column-gap: 3em;
    max-height: -moz-max-content;
    max-height: max-content;
    width: 100%;
    min-width: 900px;
    justify-content:space-between;

    background-color: rgba(0, 15, 15, 0.083);
    transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.projects_post__ODIM7:hover {
    /* border-top: 3px solid rgba(138, 138, 138, 0.481);
    border-bottom: 3px solid rgba(138, 138, 138, 0.481);
    border-left: 3px solid rgba(138, 138, 138, 0.25);
    border-right: 3px solid rgba(138, 138, 138, 0.25); */
    border-bottom: 3px solid rgba(138, 138, 138, 0);
    /* border-top: 3px solid rgba(0, 0, 0, 0.731); */
    background-color: rgba(22, 34, 34, 0.383);
    transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
    /* transition: border-top 1s cubic-bezier(0.165, 0.84, 0.44, 1); */
}

.projects_header__xBwNG {
    font-size: 3.5em;
    letter-spacing: -0.06em;
    translate: 0 -0.3em;
    line-height: 1em;
    font-weight: 200;
    /* min-width: 9em; */
    /* max-width: 8em; */
}


.projects_body__fGoaU {
    font-family: 'Lato';
    text-decoration: none;
    font-size: 1.4em;
    font-weight: 100;
    min-width: inherit;
    /* max-width: 22em; */
}

.projects_image__kXXUs {
    width: 200px;
    height: 200px; 
    -o-object-fit: cover; 
       object-fit: cover;
    border-radius: 20px;
    background-color: rgb(0, 0, 0);
}

.projects_line__sbP2B {
    width: 15em;
    height: 3px;
    margin-bottom: 1.5em;
    opacity: 2%;
    background-color: rgb(255, 255, 255);
}

.projects_pageTitle__SoAs6 {
    font-family: "Playfair Display", serif;
    font-family: "Lateef",serif;
    font-family: "Lato",sans-serif;
    font-weight: 300;
    color: white;
    text-align: center;
    margin: auto;
    font-size: 6em;
    padding-top: 0.7em;
    z-index: 3;
    position: relative;
    letter-spacing: 0.2em;
    text-shadow: 0 0 2px white;
}

@media screen and (max-width:800px) {
    .projects_pageTitle__SoAs6 {
        font-size: 4em;
        /* margin-top: 0.8em; */
        padding-top: 1.4em;
        margin-bottom: 0.8em;
    }

    .projects_content__zoHE_ {
        min-width: 100px;
        width: 80%;
    }

    .projects_post__ODIM7 {
        flex-grow: 1;
        min-width: 100px;
        width: 90%;
        border-radius: 0px;
    }

    .projects_header__xBwNG {
        font-family: "Playfair Display", serif;
        font-family: "Lateef",serif;
        font-family: "Lato",sans-serif;
        font-size: 3em;
        letter-spacing: -0.03em;
        /* translate: 0 -0.3em; */
        line-height: 0.8em;
        /* min-width: 9em; */
        /* max-width: 8em; */
        font-weight: 100;
    }
}
