/*!********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./app/blog/blog.module.css ***!
  \********************************************************************************************************************************************************************************************************************************************************************/
@import url('https://fonts.googleapis.com/css2?family=Lateef:wght@200;300;400;500;600;700;800&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

.blog_container__IKtGu {
    position: absolute;
    margin: auto;
    top: 100px;
    background-color: rgba(32, 59, 76, 0.126);
    width: 70%;
    height: 80%;

}

.blog_content__jkE_j {
    position: relative;
    margin: auto;
    top: 0.7em;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.331);

    border-radius: 25px;
    width: 55%;
    min-width: 940px;
    height: auto;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-height: -moz-max-content;
    max-height: max-content;
}

.blog_post__kwcSJ {
    font-family: "Playfair Display", serif;
    font-family: "Lateef",serif;
    font-family: "Lato",sans-serif;
    font-weight: 300;
    /* border: 1px solid rgba(255, 255, 255, 0.094); */
    margin-bottom: 2.5em;
    padding: 2em 2em 2em 2em;
    border-radius: 30px;
    border: 3px solid rgba(65, 65, 65, 0);
    border-top: 3px solid rgba(138, 138, 138, 0);
    border-bottom: 3px solid rgba(65, 65, 65, 0.312);
    display: flex;
    flex-direction: row;
    -moz-column-gap: 3em;
         column-gap: 3em;
    max-height: -moz-max-content;
    max-height: max-content;
    width: 100%;
    min-width: 900px;
    justify-content:space-between;

    background-color: rgba(0, 15, 15, 0.083);
    transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.blog_post__kwcSJ:hover {
    border-top: 3px solid rgba(138, 138, 138, 0.481);
    border-bottom: 3px solid rgba(138, 138, 138, 0.481);
    border-left: 3px solid rgba(138, 138, 138, 0.25);
    border-right: 3px solid rgba(138, 138, 138, 0.25);
    transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
    /* transition: border-top 1s cubic-bezier(0.165, 0.84, 0.44, 1); */
}

.blog_header__354uX {
    font-family: "Lato",sans-serif;
    font-family: "Playfair Display", serif;
    font-family: "Lateef",serif;
    font-size: 3.5em;
    letter-spacing: -0.03em;
    translate: 0 -0.3em;
    line-height: 0.8em;
    /* min-width: 9em; */
    /* max-width: 8em; */
    font-weight: 100;
}


.blog_body__v9SPg {
    text-decoration: none;
    font-family: 'Lato';
    font-family: "Lateef",serif;
    font-size: 1.4em;
    font-weight: 100;
    min-width: inherit;
    /* max-width: 22em; */
}

.blog_image__Kbywe {
    width: 200px;
    height: 200px; 
    -o-object-fit: cover; 
       object-fit: cover;
    border-radius: 20px;
    background-color: aqua;
}

.blog_line___5AfJ {
    width: 15em;
    height: 2px;
    /* margin-bottom: 1em; */
    opacity: 6%;
    background-color: rgb(255, 255, 255);
}

.blog_pageTitle__o_6ZH {
    font-family: "Lato",sans-serif;
    font-family: "Playfair Display", serif;
    font-family: "Lateef",serif;
    font-weight: 300;
    color: white;
    text-align: center;
    margin: auto;
    font-size: 6em;
    padding-top: 0.7em;
    z-index: 3;
    position: relative;
    letter-spacing: 0.2em;
}



@media screen and (max-width:1000px) {
    .blog_content__jkE_j {
        min-width: 100px;
        width: 80%;
    }

    .blog_post__kwcSJ {
        min-width: 100px;
        width: 90%;
        border-radius: 0px;
    }

    .blog_header__354uX {
        font-family: "Lato",sans-serif;
        font-family: "Playfair Display", serif;
        font-family: "Lateef",serif;
        font-size: 3em;
        letter-spacing: -0.03em;
        /* translate: 0 -0.3em; */
        line-height: 0.8em;
        /* min-width: 9em; */
        /* max-width: 8em; */
        font-weight: 100;
    }
}
