/*!*******************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./app/projects/music/music.module.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************/
@import url('https://fonts.googleapis.com/css2?family=Lateef:wght@200;300;400;500;600;700;800&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

.music_bg__VW_hQ {
    /* background-image: url("../../../public/images/hassaan.jpg"); */
    position: absolute;
    width: 100%;
    height: 100%;
    /* top: 30%; */
    -o-object-fit: cover;
       object-fit: cover;
    background-position: center;
    background-size: 90vw;
    background-position-y: 200px;
    overflow: hidden;
}

.music_container__emRvI {
    background-image: url(webpack:///mini-css-extract-plugin//_next/static/media/hassaan.cc1aa58b.jpg);
    position: relative;
    margin: auto;
    width: 70%;
    top: 10em;
    padding: 20px;
    /* background-color: rgba(165, 42, 42, 0.307); */
}

.music_header__8BvQC {
    font-family: "Lateef", serif;
    font-family: "Lato", sans-serif;
    font-family: "Playfair Display", serif;
    font-weight: 300;
    letter-spacing: 0.1em;
    font-size: 5em;
}

.music_date__zxX2P {
    font-family: "Lato", sans-serif;
    font-weight: 100;
    font-size: 1.5em;
    margin-bottom: 1em;
    border: 1px solid white;
    border-radius: 35px;
    max-width: -moz-max-content;
    max-width: max-content;
    padding: 0.1em 0.4em 0.1em 0.4em;
    opacity: 0%;
}

.music_body__nDjZm {
    font-family: "Playfair Display", serif;
    font-family: "Lato", sans-serif;
    font-family: "Lateef", serif;
    font-size: 1.1em;
    line-height: 2em;
    margin-bottom: 2em;
}

.music_footer__L88Wh {
    font-family: "Lato", sans-serif;
    font-size: 0.5em;
    text-align: center;
    margin-top: 18rem;
}

