@import url('https://fonts.googleapis.com/css2?family=Lateef:wght@200;300;400;500;600;700;800&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

.bg {
    /* background-image: url("../../../public/images/hassaan.jpg"); */
    position: absolute;
    width: 100%;
    height: 100%;
    top: 30%;
    /* object-fit: cover;
    background-position: center;
    background-size: 90vw;
    background-position-y: 200px; */
    overflow: hidden;
}

.container {
    background-image: url("../../../public/images/hassaan.jpg");
    position: relative;
    margin: auto;
    width: 70%;
    top: 10em;
    padding: 20px;
    /* background-color: rgba(165, 42, 42, 0.307); */
}

.header {
    font-family: "Lateef", serif;
    font-family: "Lato", sans-serif;
    font-family: "Playfair Display", serif;
    font-weight: 300;

    font-size: 5em;
}

.date {
    font-family: "Lato", sans-serif;
    font-weight: 100;
    font-size: 1.5em;
    margin-bottom: 1em;
    margin-top: 1em;
    border: 1px solid white;
    border-radius: 35px;
    max-width: max-content;
    padding: 0.1em 0.4em 0.1em 0.4em;
}

.body {
    font-family: "Lateef", serif;
    font-family: "Playfair Display", serif;
    font-size: 1.1em;
    line-height: 2em;
}

.footer {
    font-family: "Lato", sans-serif;
    font-size: 0.5em;
    text-align: center;
    margin-top: 18rem;
}

.trackHeader{    
    display: flex;
    gap: 2rem;
    margin-bottom: 1em;
    margin-top: 4em;
    flex-direction: row;
    /* background-color: cornflowerblue; */
    justify-content: flex-start;

    text-align: left;
    
}

.trackTitle {
    font-family: "Lateef", serif;
    /* font-family: "Lato", sans-serif; */
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    
    font-size: 2em;
    font-weight: 500;
    /* background-color: brown; */
    

}

.artistName {
    font-size: 1.5rem;
    font-weight: 100;
    
}

@media screen and (max-width:800px) {
    .container {
        width: 80%;
    }

    .trackHeader{    
        display: flex;
        margin-bottom: 1em;
        flex-direction: column;
        justify-content: flex-start;
        flex-flow: column wrap;
        align-content: start;
        
    }

    .trackTitle {
        align-self: flex-start;
    }

    .body {
        font-size: 1em;
    }

    .header {
        font-size: 3em;
    }

}